@model ProjektDating.Models.UserModel
@{
    ViewBag.Title = "Login";
}

<h2>Log In</h2>
<p>@Html.ActionLink("Click here to view the public list", "Index")</p>
@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    @Html.LabelFor(u => u.Username)<br/>
    @Html.TextBoxFor(u => u.Username)<br />
    @Html.LabelFor(u => u.NewPassword)<br />
    @Html.PasswordFor(u => u.NewPassword)<br />
    


    <p><button type="submit">Login</button></p>


}